

.review{
    background-color: lightgray;
    padding: 20px;
    min-width: 270px;
    max-width: 300px;
    

}

#deep-learning{
    color: black;
    font-size: 12px;
    

}

input{
    min-width: 270px;
    margin: 0 auto;
    display: block;

}
/*
#detect{
     text-align: center;
     padding: 5px 10px;
     margin: 0 auto;
     display: block;
}
*/

#head{
    text-align: center

}

textarea {
    resize: vertical;
    margin: 0 auto;
    display: block; 
    min-height: 100px; 
    max-height: 100px;
    resize: none;
}

.button {
    position: relative;
    padding: 8px 16px;
    background: #b9b9b9;
    border: 1px solid black;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .button:active{
    background: lightgray;
  }

  .button__text{
    font: bold;
    transition: all 0.2s;
  }

  .button--loading .button__text{
    visibility: hidden;
    opacity: 0;
  }

  .button--loading::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;

  }

  @keyframes button-loading-spinner {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
  }


.real1::before{
  color: darkgreen;
  visibility: visible;
  content: "Real (Highly confident)";
  position: absolute;
  font-weight: bold;

}

.real2::before {
  color: green;
  visibility: visible;
  content: "Real (Confident)";
  position: absolute;
  font-weight: bold;

}

.real3::before {
  color: lightgreen;
  visibility: visible;
  content: "Real (Mildly confident)";
  position: absolute;
  font-weight: bold;

}

.fake1::before {
  color: darkred;
  visibility: visible;
  content: "Fake (Highly confident)";
  position: absolute;
  font-weight: bold;

}

.fake2::before {
  color: red;
  visibility: visible;
  content: "Fake (Confident)";
  position: absolute;
  font-weight: bold;

}

.fake3::before {
  color: rgb(250, 110, 110);
  visibility: visible;
  content: "Fake (Mildly confident)";
  position: absolute;
  font-weight: bold;

}

.start{
  visibility: hidden;
  position: relative;
  white-space: nowrap;
}
